.Horizontalbar_main {
    background-color: #F3F3F4;
    /* padding: 50px; */
    padding-left: 30px;
    padding-bottom: 30px;
    padding-top: 30px;
    border-radius: 20px;
    width: 60vh;
    min-width: 60vh;
    max-width: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.Horizontalbar_main_row1 {
    display: flex;
    flex-direction: row;
    margin-bottom: 30%;

    /* justify-content:center; */
}

.Horizontalbar_main_row2 {
    display: flex;
    flex-direction: row;
    /* margin-left: 30px; */
    padding-top: 30px;
    font-size: x-large;
    color: rgb(91, 40, 40);
    /* justify-content: center; */
}

.Horizontalbar_main_row2_right {
    margin-left: 25px;
    font-size: medium;
    margin-top: 7px;
}

.Horizontalbar_main_row1_icon {
    margin-left: 60%;
    color: gray;
}

.Horizontalbar_main_row2_right span {
    color: rgb(15, 154, 15);
}

.Horizontalbar_graph ul {
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0;
    list-style-type: none;
    justify-content: center;
    /* padding-top: 5px; */
    /* padding-bottom: 10px; */
}

.Horizontalbar_graph li {
    background-color: #F3F3F4;
    display: flex;
    height: 50px;
    /* padding: 5px; */
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
}

.Horizontalbar_graph label {
    padding-top: 0px;
    /* padding-bottom: 10px; */
    /* padding-left: 20px; */
    justify-content: center;
}

.Horizontalbar_graph_orange {
    background-color: #FE7E08;
    height: 5px;
    width: 50%;
    margin-left: 50px;
    border-radius: 20px;
}

.Horizontalbar_graph_green {
    background-color: #29CC39;
    height: 5px;
    width: 30%;
    margin-left: 30px;
    border-radius: 20px;
}

.Horizontalbar_graph_blue {
    background-color: #052DFF;
    height: 5px;
    width: 15%;
    margin-left: 35px;
    border-radius: 20px;
}